@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    background-color: hsl(212, 45%, 89%);
}
.box{
    background-color: hsl(0, 0%, 100%);
    height: 70vh;
    width: 20vw;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 50px 0;
    text-align: center;
    
}
#qr{
    height: auto;
    width: 18vw;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 4%;
    
}
.bold{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    width: 18vw;
    margin-bottom: 20px;
}
.small{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
}
@media (max-width: 500px  ) {
    .box{
        
    height: auto;
    width: 15em;
}
#qr{
    height:auto;
    width: 14rem;
}
.bold{
    font-size: 1.1em;
    width: 12em;
}
.small{
    width: 12em;
    font-size: 1.1em;
}
}